{% include 'inc/header.html' with {'title': 'Welcome to TGMSuite'}%}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">TGMSuite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" hx-get ="parts/my-reports" href="/my-reports/" hx-push-url="/my-reports" hx-target="#mainView">
            <span data-feather="home" class="align-text-bottom"></span>
            My Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" hx-get ="parts/new-report" href="/new-report/" hx-push-url="/new-report" hx-target="#mainView">
            <span data-feather="home" class="align-text-bottom"></span>
            New Report
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">


    <main class="col-md-12">



      <div id="mainView">
       
      {% if part %}
        {% include 'parts/' ~ part ~'.html' %}  

      {% else %}
         <h4>Login UI stuff goes here.</h4>
         
    {% endif %}
      
      </div>
      
    </main>
  </div>
</div>

{% include 'inc/footer.html' %}